[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "*"
gunicorn = "*"
"psycopg2" = "*"
djangorestframework = "*"
Pillow = "*"

[requires]
python_version = "3.8"
