{% extends 'base.html' %}
{% block content %}
    {% if pastebin_link %}
        <a href="{{ pastebin_link }}">Меню на Pastebin</a>
    {% endif %}
    <form action="{% url 'menus:order-view' %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
            <tr>
                <th>Заказать</th>
                <th>Наименование</th>
                <th>Калорийность</th>
                <th>Цена</th>
                <th>Изображение</th>
                <th>Аллергены</th>
            </tr>
            </thead>
            <tbody>
            {% for category_item in category_list %}
                <tr>
                    <td colspan="6" style="text-align:center">Категория - {{ category_item.title }}</td>
                </tr>
                {% for menu_item in category_item.menu_items.all %}
                    <tr>
                        <td><input type="checkbox" name="menu" value={{ menu_item.id }}></td>
                        <td>{{ menu_item.title }}</td>
                        <td>{{ menu_item.calorie }}</td>
                        <td>{{ menu_item.price }}</td>
                        <td>
                            {% if menu_item.image %}
                                <img height="60px" src="{{ menu_item.image.url }}">
                            {% else %}
                                Без фото
                            {% endif %}
                        </td>
                        <td>{% firstof menu_item.allergens.all|join:"</br>" "Без аллергенов" %}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <button type="submit">Заказать</button>
    </form>
{% endblock %}